
        body { 
            background-color: rgb(0, 12, 43);
        }
         a { 
            color: rgb(223, 223, 223);
            font-family: Arial;
            text-decoration: none;
            font-size: 20px;
            padding: 10px;
            
        }
         h1 { 
            font-family:Impact;
            color: rgb(255, 255, 255);
            font-size: 150px;
            margin-top: -600px;
            margin-left: 600px;
            text-align: left;
        }
        p { 
            font-family: Arial;
            color: rgb(0, 0, 0);
        }
        ul { 
            text-align: left;
             margin-top: -120px;
             margin-left: 590px;
             font-family: Arial;
             font-size: 20px;
             padding: 10px;
            }
  