         body { 
            background-color: rgb(78, 96, 140);
        }
               h1 { 
            font-family:Impact;
            color: rgb(255, 255, 255);
            font-size: 150px;
            margin-top: -600px;
            margin-left: 600px;
            text-align: left;
        }
        p { 
            font-family: Helvetica;
        color: white;
        font-size: 25px;
        margin-top: -5%;
        margin-left: 40%;
        }
